* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(194, 130, 253);
    
}

main {
    height: 600px;
}
h1 {
    font-size: 45px;
    margin: 35px 10px 10px 10px;
    color: aqua;
    font-weight: bold;
    line-height: 35px;
    
}

p {
    color: aquamarine;
    font-size: 30px;
    font-weight: bold;
    line-height: 25px;
    margin: 25px 15px 15px 5px;
    text-shadow: 1px 1px 1px black;
    white-space: pre-wrap;

}



header, footer {
    margin-top: 25px;
    margin-bottom: 25px;
}

footer {
    bottom: 0;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: rgb(243, 17, 17);
    text-shadow: 2px 2px 2px wheat;
}